__pycache__/
venv/
.DS_Store
.env
.env.local
.env.*.local
.env.development
.env.production
.idea/
.vscode/
.pytest_cache/
.mypy_cache/
pip-wheel-metadata/
dist/
build/
*.egg-info/
.coverage
.coverage.*
*.swp
*.swo
